USE [master]
GO
/****** Object:  Database [OTSAFFENIO]    Script Date: 7/11/2019 11:12:01 PM ******/
CREATE DATABASE [OTSAFFENIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OTSAFFENIO', FILENAME = N'D:\SQL SERVER\Servidor\MSSQL14.MSSQLSERVER\MSSQL\DATA\OTSAFFENIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OTSAFFENIO_log', FILENAME = N'D:\SQL SERVER\Servidor\MSSQL14.MSSQLSERVER\MSSQL\DATA\OTSAFFENIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OTSAFFENIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OTSAFFENIO]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 7/11/2019 11:12:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id_categoria] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marcas]    Script Date: 7/11/2019 11:12:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marcas](
	[id_marca] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [PK_MARCAS] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 7/11/2019 11:12:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [varchar](5) NOT NULL,
	[nombre] [varchar](20) NULL,
	[tamanio] [varchar](10) NULL,
	[precio_unitario] [money] NULL,
	[descripcion] [varchar](70) NULL,
	[presentacion] [tinyint] NULL,
	[id_categoria] [smallint] NULL,
	[id_marca] [smallint] NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[socios]    Script Date: 7/11/2019 11:12:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socios](
	[id_socio] [varchar](5) NOT NULL,
	[puntos_acum] [smallint] NULL,
	[nombre] [varchar](30) NULL,
	[apellidos] [varchar](30) NULL,
	[direccion] [varchar](60) NULL,
	[id_usuario] [varchar](5) NULL,
 CONSTRAINT [PK_SOCIOS] PRIMARY KEY CLUSTERED 
(
	[id_socio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 7/11/2019 11:12:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [varchar](5) NOT NULL,
	[nombre] [varchar](30) NULL,
	[apellidos] [varchar](30) NULL,
	[telefono] [varchar](13) NULL,
	[direccion] [varchar](60) NULL,
	[id_administrador] [varchar](5) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIAS] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIAS]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_MARCAS] FOREIGN KEY([id_marca])
REFERENCES [dbo].[marcas] ([id_marca])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_PRODUCTOS_MARCAS]
GO
ALTER TABLE [dbo].[socios]  WITH CHECK ADD  CONSTRAINT [FK_SOCIOS_USUARIOS] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[socios] CHECK CONSTRAINT [FK_SOCIOS_USUARIOS]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_USUARIOS] FOREIGN KEY([id_administrador])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_USUARIOS_USUARIOS]
GO
USE [master]
GO
